<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ePharma</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <h1>Welcome to ePharma</h1>
    <form method="POST">
        <label>Name: <input type="text" name="name" required></label><br>
        <label>Age: <input type="number" name="age" required></label><br>
        <label>Symptoms: <input type="text" name="symptoms" required></label><br>
        <button type="submit">Find Medicine</button>
    </form>
</body>
</html>
